.modal {
  position: fixed;
  top: 217px;
  left: 443px;
  width: 1034px;
  height: 646px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
}

.content {
  background-color: var(--color-gray-500);
  color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}


.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
  padding: 5px; 
}

.title {
  font-family: 'BR B';
  font-size: 46px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.random {
  font-family: 'BR B';
  font-weight: 400;
  line-height: 47.1px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.point{
  font-family: 'BR B';
  font-weight: 400;
  line-height: 47.1px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-main);
}

.description {
  width: 362px;
  height: 58px;
  margin: 0 auto;
  font-size: 19.5px;
  font-weight: 700;
  line-height: 28.96px;
  color: var(--color-white);
  margin-bottom: 40px; 
}

.timer {
  margin-top: 10px;
  margin-bottom: 60px; 
}

.timerText {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-gray-300);
  margin-right: 10px;
}

.timerValue {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-main);
}

.boxContainer {
  display: flex;
  justify-content: space-between; 
  width: 835.66px; 
  margin: 0 auto; 
  background: transparent;
  border: none; /* 불필요한 선 제거 */
  box-shadow: none; /* 불필요한 그림자 제거 */
}

.box {
  cursor: pointer;
  background: transparent;
  border: none; /* 불필요한 선 제거 */
  box-shadow: none; /* 불필요한 그림자 제거 */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.congratulations {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}