.dropDown_container {
  width: 6.4rem;
  color: var(--color-gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  position: relative;
  user-select: none;
  font-weight: 700;
}

.container_large {
  width: 9.3rem;
}

.container_box {
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid var(--color-gray-200);
}

.downIcon_container {
  display: flex;
  align-items: center;
}

.dropDown_wrapper {
  border: 0.1rem solid var(--color-gray-200);
  background-color: var(--color-black);
  color: var(--color-white);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1.5rem;
  width: 13.4rem;
  margin-top: 0.5rem;
  z-index: 1000;
  max-height: 25rem;
  overflow-y: auto;
}

.dropDown_wrapper::-webkit-scrollbar {
  width: 0.8rem;
}

.dropDown_wrapper::-webkit-scrollbar-track {
  background: var(--color-gray-500);
}

.dropDown_wrapper::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
}

.dropDown_wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}

.wrapper_box {
  width: 100%;
}

.dropDown_list {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
}

@media (max-width: 1199px) {
  .dropDown_container {
    font-size: 1.4rem;
  }
  .wrapper_box {
    width: 14rem;
  }
}
