.card_list {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));

    gap: 2vw;
}

/* Tablet Only */
@media (min-width: 744px) and (max-width: 1199px) {
    .card_list {
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
        gap: 2rem;
    }
}

/* Mobile Only */
@media (max-width: 743px) {
    .card_list {
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
        gap: 0.5rem;
    }
}