.container {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.info {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.info .owner {
    color: var(--color-gray-200);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.475rem;
}

.info .total_count {
    color: var(--color-gray-300);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.896rem;
}

.grade_count {
    display: flex;
    align-items: center;

    gap: 2rem;
}