.details_container {
  margin: 0 auto;
  width: 148rem;
  
}
.poketplace {
  margin-bottom: 6rem;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.792rem;
  color: white;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}
.card_details_table {
  display: flex;
  gap: 8rem;
  margin-bottom: 12rem;
}
.card_img {
  width: 96rem;
  height: 72rem;
}
.card_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}
.card_details_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5a5a5a;
  padding-bottom: 3rem;
}
.card_rating_table,
.exchange_card_rating_table {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.card_rating {
  font-size: 2.4rem;
  font-weight: 2.4rem;
  line-height: 3.475rem;
  color: #ff2a6a;
  padding-right: 1.5rem;
  border-right: 3.5px solid #5a5a5a;
}
.card_attribute {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.475rem;
  color: #a4a4a4;
  gap: 1rem;
}
.card_writer {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.475rem;
  border-bottom: 1px solid white;
  color: white;
}
.description_table {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.606rem;
  color: white;
  padding-bottom: 3rem;
  border-bottom: 1px solid #5a5a5a;
}
.price_contain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #5a5a5a;
}
.price_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price_name,
.remaining_name,
.remaining_card,
.quantity_font {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.896rem;
  color: #a4a4a4;
}
.price,
.quantity_int {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.475rem;
  color: white;
}
.remaining_contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remaining_table {
  display: flex;
  align-items: center;
}
.remaining_card {
  font-size: 2.4rem;
}
.quantity_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trade_table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}
.quantity_font {
  color: white;
}
.totalprice_contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalprice_table {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.photocard_button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 2.5rem 14.4rem;
  width: 44rem;
  height: 8rem;
  border-radius: 0.2rem;
  background-color: #efff04;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.896rem;
  color: black;
  border: none;
}
.exchange_table,
.recommendcard_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 6rem;
}
.exchange_name,
.recommendcard_name {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.792rem;
  color: white;
}
.exchange_button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 44rem;
  height: 6rem;
  border-radius: 0.2rem;
  border: none;
  padding: 1.7rem 23.5rem;
  background-color: #efff04;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.606rem;
  color: black;
}
.exchange_button_mobile {
  display: none;
}
.exchange_content {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.475rem;
  color: white;
  margin-bottom: 2rem;
}
.exchange_container {
  display: flex;
  flex-direction: column;
}
.exchange_present_table,
.my_exchange_present_table {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
.exchange_present {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.792rem;
  color: white;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid white;
  margin-bottom: 6rem;
}
.exchange_present_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem 8rem;
}
.COMMON {
  color: var(--color-main);
}
.RARE {
  color: var(--color-blue);
}
.SUPER_RARE {
  color: var(--color-purple);
}
.LEGENDARY {
  color: var(--color-pink);
}
.recommendcard_table {
  margin:4rem 0;
}
.recommendcard{
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.recommendcard::-webkit-scrollbar{
  height: 1rem;
}
.recommendcard::-webkit-scrollbar-track {
  background: var(--color-gray-500);
}
.recommendcard::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 0.8rem;
}

.recommendcard::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}
.nonCardList{
  font-size: 1.8rem;
  font-weight: 500;
}

/* 태블릿사이즈 */
@media (max-width: 1199px) {
  .details_container {
    margin: 0 auto;
    width: 70.4rem;
  }
  .poketplace {
    width: 83px;
    height: 16px;
  }
  .title {
    margin-bottom: 4rem;
  }
  .card_details_table {
    gap: 2rem;
  }
  .title,
  .exchange_name,
  .recommendcard_name,
  .exchange_present {
    font-size: 3.2rem;
    line-height: 4.634rem;
  }
  .card_img {
    width: 34.2rem;
    height: 25.65rem;
  }
  .card_rating,
  .card_attribute,
  .card_writer,
  .price_name,
  .remaining_name,
  .quantity_font,
  .price_name,
  .photocard_button,
  .exchange_content {
    font-size: 1.8rem;
  }
  .description_table,
  .exchange_button {
    font-size: 1.6rem;
  }
  .price,
  .quantity_int,
  .remaining_card {
    font-size: 2rem;
  }
  .photocard_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34.2rem;
    height: 7.5rem;
  }
  .exchange_table,.recommendcard_table {
    margin-bottom: 4rem;
  }
  .exchange_button {
    width: 34.2rem;
    height: 6rem;
    padding: 0;
  }
  .exchange_present {
    margin-bottom: 4rem;
  }
  .exchange_present_list {
    gap: 2rem;
  }
  .recommendcard_table{
    margin-bottom: 3rem;
  }
}

/* 모바일 사이즈 */
@media (max-width: 743px) {
  .details_container {
    margin: 0 auto 0;
    max-width: 34.5rem;
    width: 100%;
  }
  .poketplace {
    display: none;
  }
  .title {
    margin-bottom: 2rem;
  }
  .title,
  .exchange_name,
  .recommendcard_name,
  .exchange_present {
    font-size: 2.4rem;
    line-height: 3.475rem;
  }
  .card_details_table {
    flex-direction: column;
  }
  .card_img {
    width: 34.5rem;
    height: 25.875rem;
  }
  .exchange_table {
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }
  .exchange_button {
    display: none;
  }
  .exchange_card_rating_table {
    margin-bottom: 4rem;
  }
  .exchange_present_list {
    gap: 1.5rem 0.5rem;
  }
  .my_exchange_present_table {
    margin-bottom: 2rem;
  }
  .exchange_button_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.2rem;
    border: none;
    background-color: #efff04;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.606rem;
    color: black;
    padding: 0;
    width: 34.5rem;
    height: 5.5rem;
    margin-bottom: 4rem;
  }
  .recommendcard{
    margin-bottom: 1rem;
  }
  .recommendcard::-webkit-scrollbar{
    height: 0.5rem;
  }
}
