:root {
  --color-black: #0f0f0f;
  --color-white: #ffffff;

  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;

  --color-red: #ff483d;
  --color-blue: #29c9f9;
  --color-purple: #a77eff;
  --color-pink: #ff2a6a;
  --color-main: #efff04;
}

@font-face {
  font-family: "BR B";
  src: url("/fonts/배스킨라빈스B.otf") format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-white);
  font-size: 62.5%;
  background-color: var(--color-black);
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  padding: 0 22rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  body {
    padding: 0 2rem;
  }
}

@media (max-width: 743px) {
  body {
    padding: 0 1.5rem;
  }
}
