.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "BR B";
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -3%;
}

.home span {
  display: inline-block;
  font-weight: bold;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: var(--color-main);
  }

  50% {
    color: var(--color-blue);
  }

  100% {
    color: var(--color-purple);
  }
}